rich==13.4.2
psycopg2-binary==2.9.2 # postgresql
python-dotenv==1.0.0
pytz==2022.1 # timezones
colorama==0.4.4
requests==2.31.0
fake_headers==1.0.2
scapy==2.5.0 # network-package manipulation
psutil==5.9.0 # process & system monitoring
SpeechRecognition==3.10.0
pyaudio==0.2.13 # convert the audio input into text
pocketsphinx==5.0.2 # convert the audio input into text