rich==13.4.2
python-dotenv==1.0.0
pytz==2022.1 # timezones
colorama==0.4.4
requests==2.31.0
fake_headers==1.0.2
scapy==2.5.0 # network-package manipulation
psutil==5.9.0 # process & system monitoring
SpeechRecognition==3.10.0
pyaudio==0.2.13 # convert the audio input into text
pocketsphinx==5.0.2 # convert the audio input into text
gtts==2.4.0 # Google-Text-To-Speech
playsound==1.3.0
pydub==0.25.1 # to adjust speed of MP3-File (Audio-Manipulator)